header {
   margin-bottom: 57px;
   position: fixed;
   width: 100%;
   background-color: #62cbff;
   height: 120px;
   z-index: 99999;
}

nav {
   width: 80%;
}

header.nav.div {
   position: fixed;
   width: 80%;
   /* background-color: #62cbff; */
   height: 120px;
   z-index: 99999;
}

div h2 {
   width: 66.66%;
   margin: 0 auto;
   line-height: 120px;
   color: white;
   font-size: 36px;
}
