header {
   margin-bottom: 57px;
}

nav {
   position: fixed;
   width: 100%;
   background-color: #62cbff;
   height: 120px;
   z-index: 99999;
}

div {
   position: fixed;
   width: 100%;
   /* background-color: #62cbff; */
   height: 120px;
   z-index: 99999;
}

div h2 {
   width: 66.66%;
   /* margin: 0 auto; */
   display: block;
   color: white;
   float: left;
}
